* {

    margin:0;
    padding:0;
    box-sizing: border-box;
}

.cabecalho {
display: flex;
justify-content:space-between;
align-items: center;
}
.cabecalho img{
    width: 30%;
    max-width: 30%;
    display: block;/*transforma display de linha em bloco (toda img eh display de linha)*/
}
